.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 4em;
}

.nav-link {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
}
